<h3> Get Information about User </h3>

<%= form_with model:@user, url: home_path, data: { turbo: false } do |form|%>
  <%= form.text_field :username%>
  <%= form.submit "Send request", class: "btn btn-primary"%>
<%  end %>
